#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
# true || source ../.chezmoitemplates/scripts-library

function is_snap_package_installed() {
  local package_name="$1"
  snap list | grep -q "^$package_name "
  return $?
}

readonly -A wanted_packages=(
  # Format: ["${SNAP_PKG}"] = "${OPTIONS}"
  ["simple-scan"]=""
  ["postman"]=""
  ["spotify"]=""
  ["onlyoffice-desktopeditors"]=""
)
declare -A missing_packages=()

for key in "${!wanted_packages[@]}"; do
  if ! is_snap_package_installed "$key"; then
    missing_packages[$key]=${wanted_packages[$key]}
  fi
done

if [[ ${#missing_packages[@]} -gt 0 ]]; then
  log_task "Installing missing packages with SNAP..."
fi

for key in "${!missing_packages[@]}"; do
  c snap install $key ${wanted_packages[$key]}
done
