#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

keystore_explorer_version_latest=$(curl -fsSL -o /dev/null -w "%{url_effective}" https://github.com/kaikramer/keystore-explorer/releases/latest | sed -e "s/.*\/v//")

keystore_explorer_version_current=$(dpkg-query -W --showformat='${Version}' kse 2> /dev/null || echo "NOT_FOUND")

if [[ "${keystore_explorer_version_current}" = "NOT_FOUND" ]] || [[ "${keystore_explorer_version_latest}" != "${keystore_explorer_version_current}" ]]; then
  log_task "Installing keystore-explorer - ${keystore_explorer_version_latest}"

  wget "https://github.com/kaikramer/keystore-explorer/releases/download/v${keystore_explorer_version_latest}/kse_${keystore_explorer_version_latest}_all.deb" --directory-prefix=/tmp/

  chmod u+r "/tmp/kse_${keystore_explorer_version_latest}_all.deb"

  c apt install --yes --no-install-recommends "/tmp/kse_${keystore_explorer_version_latest}_all.deb"

  rm -rf "/tmp/kse_${keystore_explorer_version_latest}_all.deb"
fi

