#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

#asdf_latest=$(curl -fsSL -o /dev/null -w "%{url_effective}" https://github.com/asdf-vm/asdf/releases/latest | sed -e "s/.*\///")
asdf_latest="v0.15.0"
asdf_dir="${HOME}/.asdf"

if [[ ! -d "${asdf_dir}" ]]; then
  log_task "Installing asdf ${asdf_latest}"

  git clone https://github.com/asdf-vm/asdf.git "${asdf_dir}" --branch "${asdf_latest}"
fi

asdf_current=$(git -C "${asdf_dir}" describe --tags)
if [[ "${asdf_latest}" != "${asdf_current}" ]]; then
  log_task "Upgrading asdf to ${asdf_latest}"

  git -C "${asdf_dir}" pull origin master -p --tags
  git -C "${asdf_dir}" checkout "${asdf_latest}"
fi
