#!/usr/bin/env bash

# {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library") }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

log_green "✅ Dotfiles installation finished successfully"

log_info "If this is a first time installation, please logout and log back in to get started, also please execute:"

log_c "mise install"
