#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

profile_id=$(gsettings get org.gnome.Terminal.ProfilesList list | sed "s/\['//" | sed "s/'\]//")

# Configuring terminal font
gsettings_ensure "org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile_id}/" "font" "FiraCode Nerd Font 12"
