#!/bin/zsh

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

readonly wanted_plugins=(
  argo
  argocd
  awscli
  bitwarden
  cmctl
  gcloud
  golang
  helm
  java
  jq
  krew
  kubectl
  kubeseal
  kustomize
  maven
  mc
  nodejs
  pluto
  poetry
  python
  terraform
  yq
)
missing_plugins=()

asdf_dir="${HOME}/.asdf"

for plugin in "${wanted_plugins[@]}"; do
  if [[ ! -d "${asdf_dir}/plugins/${plugin}" ]]; then
    log_task "Adding asdf pluing ${plugin}"

    "${HOME}"/.local/bin/asdf plugin add "${plugin}"
  fi
done

