# This file is automatically added and configured by the 1Password package. Modifications may be overwritten.
Types: deb
URIs: https://downloads.1password.com/linux/debian/{{ .chezmoi.arch }}
Suites: stable
Components: main
Architectures: {{ .chezmoi.arch }}
Signed-By: /usr/share/keyrings/1password-archive-keyring.gpg
