### THIS FILE IS AUTOMATICALLY CONFIGURED ###
# You may comment out this entry, but any other modifications may be lost.
Types: deb
URIs: http://debian.usebruno.com/
Suites: bruno
Components: stable
Architectures: {{ .chezmoi.arch }}
Signed-By: /usr/share/keyrings/bruno.gpg
