### THIS FILE IS AUTOMATICALLY CONFIGURED ###
# You may comment out this entry, but any other modifications may be lost.
Types: deb
URIs: https://ppa.launchpadcontent.net/git-core/ppa/ubuntu
Suites: {{ .chezmoi.osRelease.versionCodename }}
Components: main
Architectures: {{ .chezmoi.arch }}
Signed-By: /usr/share/keyrings/git-core-ppa.gpg
