### THIS FILE IS AUTOMATICALLY CONFIGURED ###
# You may comment out this entry, but any other modifications may be lost.
Types: deb
URIs: https://packages.httpie.io/deb
Suites: ./
Architectures: {{ .chezmoi.arch }}
Signed-By: /usr/share/keyrings/httpie.gpg
