### THIS FILE IS AUTOMATICALLY CONFIGURED ###
# You may comment out this entry, but any other modifications may be lost.
Types: deb
URIs: https://packages.microsoft.com/ubuntu/{{ .chezmoi.osRelease.versionID }}/prod
Suites: {{ .chezmoi.osRelease.versionCodename }}
Components: main
Architectures: {{ .chezmoi.arch }}
Signed-By: /usr/share/keyrings/microsoft.gpg
