deb [arch={{ .chezmoi.arch }} signed-by=/usr/share/keyrings/pipewire-extra-bt-codecs.gpg] https://ppa.launchpadcontent.net/aglasgall/pipewire-extra-bt-codecs/ubuntu {{ .chezmoi.osRelease.versionCodename }} main
