### THIS FILE IS AUTOMATICALLY CONFIGURED ###
# You may comment out this entry, but any other modifications may be lost.
Types: deb
URIs: http://apt.postgresql.org/pub/repos/apt
Suites: {{ .chezmoi.osRelease.versionCodename }}-pgdg
Components: main
Architectures: {{ .chezmoi.arch }}
Signed-By: /usr/share/keyrings/postgresql.gpg
