### THIS FILE IS AUTOMATICALLY CONFIGURED ###
# You may comment out this entry, but any other modifications may be lost.
Types: deb
URIs: https://packages.stripe.dev/stripe-cli-debian-local
Suites: stable
Components: main
Architectures: {{ .chezmoi.arch }}
Signed-By: /usr/share/keyrings/stripe.gpg
